@import 'src/assets/scss/utils';

.button {
  position: relative;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 16px;
  transition: background-color 0.25s;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 12px;
  display: flex;
  align-items: center;
  text-decoration: none;

  &_primary {
    color: $c-white;
    background-color: $c-primary;
  
    &:hover {
      background-color: $c-primary-hover;
    }
  
    &:active {
      background-color: $c-primary-active;
    }
  
    &:focus {
      box-shadow: 0 0 0 2px $c-black inset;
    }

    &:disabled {
      background-color: $c-primary-disabled;
    
      &:hover, &:active, &:focus {
        background-color: $c-primary-disabled;
        border: 1px solid transparent;
      }
    }
  }
  
  &_secondary {
    border: 1px solid $c-primary;
  }
  
  &_secondary, &_flat {
    background-color: $c-white;
    color: $c-primary;

    &::before, &:active {
      content: '';
      background-color: transparent;
      border-radius: 4px;
      transition: background-color 0.25s;
    }
  
    &:hover {
      &::before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0.04;
        background-color: $c-primary;
      }
    }
  
    &:active {
      &::before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0.16;
        background-color: $c-primary;
      }
    }
  
    &:focus {
      box-shadow: 0 0 0 2px $c-gray-k inset;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.56;

      &:focus, &:hover, &:active {
        box-shadow: unset;
        &::before {
          content: none;
        }
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  &_circle {
    overflow: hidden;
    border-radius: 100%;

    &:active {
      border-radius: 100%;
    }
  }
}

.icon {
  width: 18px;
  height: 18px;

  &_left {
    margin-right: 10px;
  }

  &_right {
    margin-left: 10px;
  }

  &_only {
    margin-right: 0;
    margin-left: 0;
  }

  &_loading {
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
  }
}

.link {
  text-decoration: none;
}
