$xs: 375px;
$xm: 540px;
$sm: 768px;
$md: 1024px;
$lg: 1280px;
$xl: 1440px;
$xxl: 1920px;

$screen-xs: 'screen and (min-width: 375px)';
$screen-xm: 'screen and (min-width: 540px)';
$screen-sm: 'screen and (min-width: 768px)';
$screen-md: 'screen and (min-width: 1024px)';
$screen-lg: 'screen and (min-width: 1280px)';
$screen-xl: 'screen and (min-width: 1440px)';
$screen-xxl: 'screen and (min-width: 1920px)';
