$c-primary: #6E41E2;
$c-primary-disabled: #E3DAF9;
$c-primary-hover: #5835B0;
$c-primary-active: #472C8A;

$c-black: #111;
$c-white: #FFFFFF;
$c-white-s: rgba(255, 255, 255, 0.88);

$c-gray: rgba(17, 17, 17, 0.48);
$c-gray-m: #FAFAFA;
$c-gray-l: #F1F1F1;
$c-gray-s: #D4D4D4;
$c-gray-k: #6B6B6B;

$c-red-girl: #F9E3E3;
$c-red-boy: #F9E3E3;
$c-red: #DB524E;
$c-red-super: #C7302B;

$c-green: #27AE60;
$c-green-l: #CBECD9;

$c-star: #FFD912;
$c-star-l: rgba(255, 217, 18, 0.12);
