.start-menu {
  margin-top: 48px;
  position: relative;

  &__buttons {
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}
