@import 'src/assets/scss/utils';

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.button {
  margin-left: 12px;
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  border: 0;
  outline: none;

  &:hover .icon {
    color: $c-gray;
  }
}

.icon {
  color: $c-black;
  transition: color 0.25s;
  width: 32px;
  height: 32px;
}
