@import 'src/assets/scss/utils';

.vertical-panel {
  width: calc(10vmin * 0.4);
}

.digit-symbol {
  height: 11vmin;
  display: flex;
  justify-content: center;
  align-items: center;

  &--rotate {
    transform: rotate(180deg);
  }
}
