@import 'src/assets/scss/utils';

.content {
  display: flex;
  flex-direction: column;
}

.modal-inner {
  @media #{$screen-sm} {
    width: 480px;
  }
}

.icon-wrapper {
  text-align: center;
}

.icon-inner {
  border-radius: 100%;
  padding: 30px;
  display: inline-block;

  &_info {
    background-color: $c-primary-disabled;

    .icon {
      color: $c-primary;
    }
  }

  &_error {
    background-color: $c-red-girl;

    .icon {
      color: $c-red;
    }
  }

  &_success {
    background-color: $c-green-l;

    .icon {
      color: $c-green;
    }
  }

  &_warning {
    background-color: $c-star-l;

    .icon {
      color: $c-star;
    }
  }
}

.icon {
  width: 36px;
  height: 36px;
}

.title {
  margin-top: 20px;
  text-align: center;
}

.description {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 8px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;
}

.button {
  &:not(:last-child) {
    margin-right: 12px;
  }
}
