.popup {
    &__content {
        display: flex;
        flex-direction: column;
    }

    &__modal-inner {
        // @media #{$screen-sm} {
        //   width: 480px;
        // }
    }

    &__icon-wrapper {
        text-align: center;
    }

    &__icon-inner {
        border-radius: 100%;
        padding: 30px;
        display: inline-block;
      
        &--info {
            background-color: blue;
        
            // .icon {
            //     color: $c-primary;
            // }
        }
      
        &--error {
            background-color: red;
        }
      
        &--success {
            background-color: green;
        }
      
        &--warning {
            background-color: yellow;
        }
    }

    &__icon {
        width: 36px;
        height: 36px;
    }
      
    &__title {
        margin-top: 20px;
        text-align: center;
    }
      
    &__description {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin-top: 8px;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 24px;
    }
      
    &__button {
        &:not(:last-child) {
          margin-right: 12px;
        }
    }
}
