@import 'src/assets/scss/utils';

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: auto;
  width: 100%;

  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    margin-top: $offset-header;
  }
}
