@keyframes overlay-show {
    0% {
        opacity: 0;
    }
    100% {
         opacity: 1;
    }
}
  
@keyframes inner-show {
    0% {
        transform: scale(0.2, 0.2);
    }
    100% {
        transform: scale(1, 1);
    }
}
  
@keyframes overlay-hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes inner-hide {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(0.2, 0.2);
    }
}
  
.modal-layout-overlay {
    animation-name: overlay-show;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.14);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    z-index: 110;
  
    &--hide {
        animation-name: overlay-hide;
    }
}
  
.modal-layout__inner {
    animation-name: inner-show;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    position: relative;
    width: 98%;
    margin: 8px auto;
    padding-bottom: 24px;
    top: 0;
  
    &--hide {
        animation-name: inner-hide;
    }
  
    // @media #{$screen-sm} {
    //   top: 100px;
    //   width: 520px;
    //   margin: 0 auto;
    // }
}
  
.modal-layout__content {
    position: relative;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);;
    border-radius: 8px;
    min-height: 300px;
    padding: 30px 25px;
}
  
.modal-layout__button-close {
    position: absolute;
    right: 2px;
    top: 2px;
    border: none;
    background-color: black;
    color: white;
    padding: 8px;
    margin: 0;
    display: flex;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.25s;
  
    &:hover {
        background-color: gray;
    }
}
  
.modal-layout__icon {
    width: 12px;
    height: 12px;
}
