@import 'src/assets/scss/utils';

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.figures {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}

.figure {
  cursor: pointer;
  border-radius: 8px;
  background-color: $c-gray-l;
  border: none;
  appearance: none;
  margin: 0 12px;
  transition: background-color 0.25s;

  &:hover {
    background-color: $c-gray-s;
  }
}

.icon {
  height: 45px;
  width: 45px;

  @media #{$screen-sm} {
    height: 80px;
    width: 80px;
  }
}
