@import 'src/assets/scss/utils';

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  min-height: $offset-header;
  box-shadow: $shadow-default;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $c-white;
  z-index: 100;
}

.inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left, .center, .right {
  flex: 1;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}
