@import 'src/assets/scss/utils';

.wrapper {
  width: 100%;
  margin: 24px 0;
  opacity: 1;
  transition: opacity 0.25s;

  &_loading {
    pointer-events: none;
    opacity: 0.3;
  }

  @media #{$screen-sm} {
    box-shadow: $shadow-default;
    max-width: 400px;
    margin: 48px auto;
    padding: 32px;
  }
}

.or {
  margin: 24px 0;
  text-align: center;
}

.button {
  width: 100%;
  justify-content: center;
  margin-top: 12px;
}
