@import 'src/assets/scss/utils';

.chessboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;

  &--overlay {
    .inner {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(115, 127, 138, 0.77);
      }
    }
  }
}

.inner {
  font-size: 2vmin;
  background-color: #8093b6;

  &--rotate {
    transform: rotate(180deg);
  }
}

.game {
  display: flex;
  flex-direction: row;
}
