@import 'src/assets/scss/utils';

@keyframes chessboard-show {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.chessboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;

  &--overlay {
    .inner {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(115, 127, 138, 0.77);
      }
    }
  }
}

.inner {
  font-size: 2vmin;
  background-color: #8093b6;

  &--rotate {
    transform: rotate(180deg);
  }
}

.game {
  display: flex;
  flex-direction: row;
}

.board {
  flex: 1;
  box-shadow: 0 0 0 2px white;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  cursor: pointer;
  position: relative;
  width: 10vmin;
  height: 10vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s, box-shadow 0.25s, border-radius 0.25s;

  &--light {
    background-color: #ced3dd;

    &:hover {
      background-color: #a7acb8;
    }
  }

  &--dark {
    background-color: #8093b6;

    &:hover {
      background-color: #70809e;
    }
  }

  &--rotate {
    transform: rotate(180deg);
  }

  &--active {
    box-shadow: 0 0 0 3px #5bcc5b inset;
    border-radius: 12px;
  }

  &--move {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-color: #5bcc5b;
      height: 25%;
      width: 25%;
      border-radius: 100%;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;

      animation-name: chessboard-show;
      animation-duration: 0.25s;
      animation-iteration-count: 1;
    }
  }

  &--no-events {
    pointer-events: none;
  }
}

.icon {
  position: absolute;
  z-index: 10;
  height: 85%;
  width: 85%;
  transition: transform 0.25s;
}

.button {
  cursor: pointer;
  background-color: transparent;
  appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
